<div class="row" id="api-test-result">
    <div class="col-xs-3" style="margin-bottom:10px">
        <span class="label label-lg label-success arrowed-right">耗时 =</span>
        <span class="red">${result['sys_elapse'][-1][1]}</span>
    </div>

    %for name, value in paras.items():
    <div class="col-xs-3" style="margin-bottom:10px">
        <span class="label label-lg label-primary arrowed-right">${name} =</span>
        <span class="red">${value}</span>
    </div>
    %endfor
    <div class="col-xs-12">

        <div role="tabpanel">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">表格浏览</a></li>
                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">JSON浏览</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="home">
                    <table class="table table-striped table-bordered table-hover"></table>
                </div>
                <div role="tabpanel" class="tab-pane" id="profile">
                    <div></div>
                </div>
            </div>

        </div>
    </div>
</div>


<script>

var dataSet = ${result_json | n};

var dataSetData = [];
for(var i=1; i<dataSet['table'].length; i++){
    dataSetData.push(dataSet['table'][i]);
}

try{
    var dataTable = $('#home table').dataTable( {
        "data": dataSetData,
        "aaSorting":[],
        "bAutoWidth": true,//自动宽度
        sScrollY: "250px",//enable vertical scrolling
        sScrollX: "100%",
        bScrollCollapse: true,
        "columns": [
        %for title in (result['table'] or [[]])[0]:
            { "title": "${title}" },
        %endfor
        ],
        "oLanguage": {
            "sLengthMenu": "每页显示 _MENU_ 条记录",
            "sZeroRecords": "抱歉， 没有找到",
            "sInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条数据",
            "sInfoEmpty": "没有数据",
            "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
            "oPaginate": {
            "sFirst": "首页",
            "sPrevious": "<",
            "sNext": ">",
            "sLast": "尾页"
            },
            "sZeroRecords": "没有检索到数据",
            "sProcessing": "<img src='./loading.gif' />"
        }
    } );
    setTimeout("dataTable.fnDraw()", 1000);
}
catch (err){
    console.info(err);
};

$("#profile div").jJsonViewer(dataSet);


</script>