.cada-sort:after{
  float: right;
  display: inline;
  content: "\f0dc";
  font-family: FontAwesome;
  font-size: 13px;
  font-weight: 400;
  color: #555;
}
.cada-sort-asc:after{
  content: "\f0de";
  top: 4px;
  color: #307ecc;
}
.cada-sort-desc:after{
  content: "\f0dd";
  top: -6px;
  color: #307ecc;
}
.cada-sort{
  cursor: pointer;
}
.cada-sort a{
  text-decoration:none;
  color: #707070;
}
input[type=color]:focus, input[type=date]:focus, input[type=datetime-local]:focus, input[type=datetime]:focus, input[type=email]:focus, input[type=month]:focus, input[type=number]:focus, input[type=password]:focus, input[type=search]:focus, input[type=tel]:focus, input[type=text]:focus, input[type=time]:focus, input[type=url]:focus, input[type=week]:focus, textarea:focus{
  border-color: #4285f4;
}
.form-control:focus, select:focus,
.ace-file-input .ace-file-container:hover{
  border-color: #4285f4;
}