<%inherit file="base.html" />

<%block name="pagecontent">
<div class="row" style="height:53px">
    <a data-toggle="modal" href="#write" id="btn-new-conn" class="btn-new-mail pull-right">
		<span class="btn btn-primary no-border">
			<i class="ace-icon fa fa-plus bigger-130"></i>
			<span class="bigger-110">添加</span>
		</span>
	</a>

	<div class="btn-group pull-right" style="margin:9px 5px 0 0;">
		<button data-toggle="dropdown" class="btn btn-primary btn-white dropdown-toggle">
			操作 <i class="ace-icon fa fa-angle-down icon-on-right"></i>
		</button>
		<ul class="dropdown-menu">
			<li> <a id="start-edit" href="#">开始编辑</a> </li>
			<li> <a id="stop-edit" href="#">停止编辑</a> </li>
		</ul>
	</div>

</div>

<div class="row">
	<table class="table table-hover table-striped">
		<thead>
		<tr>
			<th>名称</th>
			<th>DB类型</th>
			<th>创建者</th>
			<th>时间</th>
			<th>连接字符串</th>
		</tr>
		</thead>
		<tbody>
		%for conn in conns:
		<tr data-id="${conn.id}" data-description="${conn.description | h}">
			<td><a href="/management/database/${conn.id}">${conn.name}</a></td>
			<td>${conn.dbtype}</td>
			<td>${conn.user_create.name}</td>
			<td>${conn.created}</td>
			<td>${conn.connstring}</td>
			<td style="display:none">${conn.description}</td>
		</tr>
		%endfor
		</tbody>
	</table>
</div>

</%block>

<%block name="modal">
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">创建数据库连接</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" id="new-conn" role="form">
			<!-- #section:elements.form -->
			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="form-field-1">
					名称
				</label>
				<div class="col-sm-9">
                    <input type="hidden" name="id" />
					<input type="text" name="name" placeholder="名称" class="col-xs-10">
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="form-field-1">
					DB类型
				</label>
				<div class="col-sm-9">
					<select name="dbtype" placeholder="" class="chosen-select col-xs-10">
						<option value="">选择DB类型</option>
						<option>ORACLE</option>
						<option>MSSQL</option>
						<option>MYSQL</option>
						<option>PGSQL</option>
                    </select>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="form-field-1">
					连接字符串
				</label>
				<div class="col-sm-9">
					<input type="text" name="connstring" placeholder="连接字符串" class="col-xs-10">
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="form-field-1">
					说明
				</label>
				<div class="col-sm-9">
					<textarea type="text" name="description" placeholder="说明" class="col-xs-10"></textarea>
				</div>
			</div>

			<div style="display:none" class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="form-field-1">
					选项
				</label>
				<div class="col-sm-9">
					<textarea type="text" id="form-field-1" name="options" placeholder="其它配置项" class="col-xs-10"></textarea>
				</div>
			</div>
			<input type="hidden" id="submit-action" name="action" value=""/>

        </form>
      </div>
      <div class="modal-footer">
        <button id="test-conn" type="button" class="btn btn-default no-border">测试连接</button>
        <button id="save-conn" type="button" class="btn btn-primary no-border">保存</button>
      </div>
    </div>
  </div>
</div>
</%block>

<%block name="jsblock">
<style>
    .cursor-pointer{
        cursor: pointer;
    }
    .cursor-pointer td:first-child:before{
        float: left;
        display: inline;
        content: "\f14b";
        font-family: FontAwesome;
        font-size: 13px;
        font-weight: 400;
        color: #428bca;
        margin-right: 5px;
    }
    .cursor-pointer td:first-child{
    }
</style>
<script>
function editDB(){
    $('tr').removeClass('success');
    $(this).addClass('success');
    var tr = $(this);
    $('input[name=name]').attr('disabled', true);
    $('input[name=id]').val(tr.attr('data-id'));
    $('input[name=name]').val(tr.children('td:nth-child(1)').text());
    $('select[name=dbtype]').val(tr.children('td:nth-child(2)').text());
    $('select[name=dbtype]').trigger("chosen:updated");
    $('input[name=connstring]').val(tr.children('td:nth-child(5)').text());
    $('textarea[name=description]').val(tr.attr('data-description'));
    $('textarea[name=options]').val('');
    $('#myModal').modal();
}
function startEdit(){
    $('table tbody tr').addClass('cursor-pointer');
    $('table tbody tr').bind('click', editDB);
}
function stopEdit(){
    $('table tbody tr').removeClass('cursor-pointer');
    $('table tbody tr').unbind('click');
    $('tr').removeClass('success');
}
function testConn(){
	$('#test-conn').attr('disable', true);
	$('#save-conn').attr('disable', true);
	$('#submit-action').val('conntest');
	var paras = $('#new-conn').serialize();
	$.getJSON('/management/action', paras, function(response){
		if(response.success == 1){
			alert("连接成功!");
        }
		else {
			alert(response.message);
		}
        $('#test-conn').removeAttr('disable' );
        $('#save-conn').removeAttr('disable');
	})
}

function saveConn(){
	$('#test-conn').attr('disable', true);
	$('#save-conn').attr('disable', true);
	$('#submit-action').val('connsave');
	var hasDisabled = false;
	if($('input[name=name]').attr('disabled') != null){
	    hasDisabled = true;
    }
    if(hasDisabled == true){
        $('input[name=name]').removeAttr('disabled');
    }
	var paras = $('#new-conn').serialize();
    if(hasDisabled == true){
        $('input[name=name]').attr('disabled', true);
	}
	$.getJSON('/management/action', paras, function(response){
		if(response.success == 1){
			window.location.reload();
        }
		else {
			alert(response.message);
            $('#test-conn').removeAttr('disable' );
            $('#save-conn').removeAttr('disable');
		}
	})
}
function newConn(){
    $('input[name=name]').removeAttr('disabled');
    $('input[name=id]').val('');
    $('input[name=name]').val('');
    $('select[name=dbtype]').val('');
    $('select[name=dbtype]').trigger("chosen:updated");
    $('input[name=connstring]').val('');
    $('textarea[name=description]').val('');
    $('textarea[name=options]').val('');
    $('#myModal').modal();
}
$(document).ready(function(){
    $('#btn-new-conn').click(newConn);
	$('#test-conn').click(testConn);
	$('#save-conn').click(saveConn);
	$('#start-edit').click(startEdit);
	$('#stop-edit').click(stopEdit);
})
</script>
</%block>